<div class="p-4 bg-white shadow">
  <div class="flex items-center justify-between mb-4">
    <input
      type="text"
      placeholder="Pesquisar pelo nome do local"
      class="border border-gray-300 rounded px-4 py-2 w-full max-w-md" />
    <select class="border border-gray-300 rounded px-4 py-2 ml-4">
      <option value="">Todas as categorias</option>
      <option
        *ngFor="let categoria of categorias"
        [value]="categoria.id">
        {{ categoria.nome }}
      </option>
    </select>
  </div>
</div>
